#Discord bot settings
discord_application_id = 
discord_public_key = 
discord_bot_name = 
discord_bot_token = 
discord_oauth_id = 
discord_oauth_secret = 
#debrid settings
debrid_host = 
debrid_key =
debrid_session = 
log_channel = 
dl_channel = 
#cat api key
cat_auth = 
#weather api key
owm_auth = 